// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
// To override the Tailwind CSS configuration you can do so by following the instructions
// available at https://docs.decidim.org/en/develop/customize/styles.html#_tailwind_css
//
// By default this is empty.

// Pokecode logos
.footer-logos {
  @apply block;

  a {
    @apply inline-block mr-8;
  }

  svg {
    @apply w-auto h-6;

    path {
      fill: white;
    }
  }
}
